h3 {
  text-transform: uppercase;
  font-weight: 400;

}

.menu {
  margin-top: 20%;
}
.primary-info{
  width:100%
}

.secondary {
  font-weight: 400;

  opacity: 0.2;
}

body {

  color: white;

}

.user-icon {
  height: 8rem;
  width: 6rem;
  float: left;
  margin: - 1rem 1rem;
}

.menu-icon {
  margin: 0 1rem;
}

.exit-icon {
  margin: 20% 0% 0% 5%;
  height: 3rem;
  width: 4rem;
  cursor: pointer;

  &:hover{
    color:yellow;

  }

  &:active{
    color:yellow;
  }
}
